# simple configuration for a standalone test "network"
# see stellar-core_example.cfg for a description of the configuration parameters

HTTP_PORT=8080
PUBLIC_HTTP_PORT=false
RUN_STANDALONE=false

NETWORK_PASSPHRASE="Hide local network"

PEER_PORT=11625


# public key
# GB6TNFAOGXLLEMXP5NZEN36O3XEEUPOIK55FAHHCZGOBFMDB2CB6FO4K

NODE_SEED="SADB4NABNQ3BKTGX3LHDOR43LAKBIAGK5YQNDN5J2BTJDCRVL5VQTMZ5 self"
NODE_IS_VALIDATOR=true

#DATABASE="postgresql://dbname=stellar user=postgres password=password host=localhost"
DATABASE="sqlite3://stellar.db"

COMMANDS=["ll?level=info"]
ARTIFICIALLY_GENERATE_LOAD_FOR_TESTING=true

# 0 here as the node cannot tolerate a failure as the node is the network
# unsafe by design
FAILURE_SAFETY=0
UNSAFE_QUORUM=true

KNOWN_PEERS = ["127.0.0.1:11626"]

[QUORUM_SET]
THRESHOLD_PERCENT=100
VALIDATORS=["$self", "GB6Y2KCSMXJIBRW4JQTTOY3IDXM5SOC5WK56HCID5RI2GLMBUTKASVEW"]

[HISTORY.vs]
get="cp /tmp/stellar-core/history/vs/{0} {1}"
put="cp {0} /tmp/stellar-core/history/vs/{1}"
mkdir="mkdir -p /tmp/stellar-core/history/vs/{0}"
